python-dotenv==1.0.1
openai==1.13.3
tiktoken==0.6.0
pandas==2.2.1
bs4==0.0.2
fuzzywuzzy==0.18.0
pypdf==4.1.0
sentence_transformers==2.2.2
chromadb==0.4.15
langchain==0.0.323
lmdb==1.4.1
xformers==0.0.22.post7
bitsandbytes==0.41.1
accelerate==0.24.0
transformers==4.31.0
huggingface_hub==0.18.0
tkinter
langchain.document_loaders